body {
  font-family: sans-serif;
  margin: 11px;
  padding: 9px;
  line-height: 1.6;
  background: white;
}

header {
  background: red;
  color: white;
  padding: 30px 0;
  text-align: center;
}

nav {
  background: grey;
  text-align: center;
  padding: 10px;
  margin :auto;
}

nav a {
  color: white;
  margin:15px;
}

section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background: white;
  margin-top: 20px;
  border-radius: 8px;
}

ul {
  list-style: square;
  padding-left: 20px;
}

button {
  background-color: green;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background: grey;
  color: white;
  margin-top: 30px;
}
